# Homework 3

In [ ]:
# Please provide the information to identify this assignment in this comment cell/section
# Student name:
# Assignment submisision date:

In [1]:
#importing necessary libraries
import pandas as pd            
import numpy as np
import matplotlib
import matplotlib.pyplot as plt

In [2]:
# NOTE: Please make sure that the olympics1992_2008.zip file has been uploaded to the same folder where you have this 
#       notebook file
odata = pd.read_csv('olympics1992_2008.zip',skiprows=4)

In [3]:
# Start exploratory data analysis
odata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9619 entries, 0 to 9618
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   City          9619 non-null   object
 1   Edition       9619 non-null   int64
 2   Sport         9619 non-null   object
 3   Discipline    9619 non-null   object
 4   Athlete       9619 non-null   object
 5   NOC           9619 non-null   object
 6   Gender        9619 non-null   object
 7   Event         9619 non-null   object
 8   Event_gender  9619 non-null   object
 9   Medal         9619 non-null   object
dtypes: int64(1), object(9)
memory usage: 751.6+ KB

In [4]:
odata.head()

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Barcelona,1992,Aquatics,Diving,"XIONG, Ni",CHN,Men,10m platform,M,Bronze
1,Barcelona,1992,Aquatics,Diving,"SUN, Shuwei",CHN,Men,10m platform,M,Gold
2,Barcelona,1992,Aquatics,Diving,"DONIE, Scott R.",USA,Men,10m platform,M,Silver
3,Barcelona,1992,Aquatics,Diving,"CLARK, Mary Ellen",USA,Women,10m platform,W,Bronze
4,Barcelona,1992,Aquatics,Diving,"FU, Mingxia",CHN,Women,10m platform,W,Gold

In [ ]:
# Add cells with any additional exploratory data analysis commands/functions that you think are necessary. This will
# not be graded but will help you in solving this homework's tasks
# Hint.. get the unique entries for columns of interest

Solve the following tasks.  You can add as many additional cells as  you need to solve each one of them.

## Task #1 (30 points)

a) List the 5 countries that accumulated the most medals across all the olympic game editions covered in the dataset

b) List the 5 countries that accumulated the most GOLD medals across all the olympic game editions covered in the dataset

## Task #2 (15 points)

List the number of Gold, Silver and Bronze medals obtained by Women and Men across all the olympic game editions covered in the dataset

## Task #3 (15 points)

List the names of the 5 male athletes and 5 female athletes that obtained the most medals across all the olympic game editions covered in the dataset

## Task #4 (40 points)

Provide two additional analysis results that you can derive from the dataset (they must be different than those obtained in tasks 1 to 3). The results can include graphs (but it is not required). Describe the results obtained in the cell provided for that purpose

**RESULTS ANALYSIS**
Summarize your findings here.