### DATA CLEANING  AND TRANSFORMATION

#### EXERCISE 1  
- Create a data frame of random numbers within a pre-determined range. Include missing values.  
- Replace missing values with zeros! 
- Replace missing values with a mean value.

### EXERCISE 2 
- Import the dataset called employees_info.csv 
- Get all the column names  Get multiple rows by giving a range of the index 
- Get multiple rows and columns using loc 
- Get the records based on conditions. For example, all accounting employees  
- Group data by department

##EXERCISE 3 Create a data frame with 5 rows and 4 columns, Use a  method of your choice.  Ensure you have outliers and duplicate values . Filter out outliers Idenï¿½fy duplicate values in a specific row.  Modify  duplicate values. Create an index and columns headers